In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('HRDataset_v14.csv')

### View first 10 and last 15 records.

In [ ]:
df.head(10)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
6,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
7,"Athwal, Sam",10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
8,"Bachiochi, Linda",10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4
9,"Bacong, Alejandro",10250,0,2,1,1,3,3,0,50178,...,Peter Monroe,7.0,Indeed,Fully Meets,5.00,5,6,2/18/2019,0,16

In [ ]:
df.tail(15)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
296,"Wallace, Courtney E",10274,1,1,0,5,5,3,1,80512,...,Janet King,2.0,Diversity Job Fair,Fully Meets,4.50,3,0,1/2/2012,0,5
297,"Wallace, Theresa",10293,0,0,0,5,5,2,0,50274,...,Elijiah Gray,16.0,CareerBuilder,Needs Improvement,2.50,3,0,9/5/2014,6,13
298,"Wang, Charlie",10172,0,0,1,1,3,3,0,84903,...,Brian Champaigne,13.0,Indeed,Fully Meets,3.42,4,7,1/4/2019,0,17
299,"Warfield, Sarah",10127,0,4,0,1,3,3,0,107226,...,Peter Monroe,7.0,Employee Referral,Fully Meets,4.20,4,8,2/5/2019,0,7
300,"Whittier, Scott",10072,0,0,1,5,5,3,0,58371,...,Webster Butler,39.0,LinkedIn,Fully Meets,5.00,5,0,5/15/2014,0,11
301,"Wilber, Barry",10048,1,1,1,5,5,3,0,55140,...,Amy Dunn,11.0,Website,Fully Meets,5.00,3,0,2/15/2015,0,7
302,"Wilkes, Annie",10204,0,2,0,5,5,3,0,58062,...,Ketsia Liebig,19.0,Google Search,Fully Meets,3.60,5,0,2/6/2011,0,9
303,"Williams, Jacquelyn",10264,0,0,0,5,5,3,1,59728,...,Ketsia Liebig,19.0,Diversity Job Fair,Fully Meets,4.30,4,0,6/2/2014,0,16
304,"Winthrop, Jordan",10033,0,0,1,5,5,4,0,70507,...,Brannon Miller,12.0,LinkedIn,Exceeds,5.00,3,0,1/19/2016,0,7
305,"Wolk, Hang T",10174,0,0,0,1,5,3,0,60446,...,David Stanley,14.0,LinkedIn,Fully Meets,3.40,4,0,2/21/2019,0,14
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

### Describe data

In [ ]:
df.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

### View statistics about all attributes

In [ ]:
df.describe(include='all')

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
count,311,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,...,311,303.000000,311,311,311.000000,311.000000,311.000000,311,311.000000,311.000000
unique,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21,NaN,9,4,NaN,NaN,NaN,137,NaN,NaN
top,"Adinolfi, Wilson K",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Michael Albert,NaN,Indeed,Fully Meets,NaN,NaN,NaN,1/14/2019,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22,NaN,87,243,NaN,NaN,NaN,18,NaN,NaN
mean,NaN,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,...,NaN,14.570957,NaN,NaN,4.110000,3.890675,1.218650,NaN,0.414791,10.237942
std,NaN,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,...,NaN,8.078306,NaN,NaN,0.789938,0.909241,2.349421,NaN,1.294519,5.852596
min,NaN,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,...,NaN,1.000000,NaN,NaN,1.120000,1.000000,0.000000,NaN,0.000000,1.000000
25%,NaN,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,...,NaN,10.000000,NaN,NaN,3.690000,3.000000,0.000000,NaN,0.000000,5.000000
50%,NaN,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,...,NaN,15.000000,NaN,NaN,4.280000,4.000000,0.000000,NaN,0.000000,10.000000
75%,NaN,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,...,NaN,19.000000,NaN,NaN,4.700000,5.000000,0.000000,NaN,0.000000,15.000000
max,NaN,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,...,NaN,39.000000,NaN,NaN,5.000000,5.000000,8.000000,NaN,6.000000,20.000000

### View the data types of all attributes

In [ ]:
df.dtypes

Employee_Name                  object
EmpID                           int64
MarriedID                       int64
MaritalStatusID                 int64
GenderID                        int64
EmpStatusID                     int64
DeptID                          int64
PerfScoreID                     int64
FromDiversityJobFairID          int64
Salary                          int64
Termd                           int64
PositionID                      int64
Position                       object
State                          object
Zip                             int64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction                 int64
SpecialProjectsCount            int64
LastPerformanceReview_Date     object
DaysLateLast30                  int64
Absences                        int64
dtype: object

### Read data in Boolean format

In [ ]:
df_bool=df.astype(bool)
df_bool.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,True,True,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,False,True,False,True
1,True,True,True,True,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,False,True
2,True,True,True,True,False,True,True,True,False,True,...,True,True,True,True,True,True,False,True,False,True
3,True,True,True,True,False,True,True,True,False,True,...,True,True,True,True,True,True,False,True,False,True
4,True,True,False,True,False,True,True,True,False,True,...,True,True,True,True,True,True,False,True,False,True

### Check how many missing values are there in each attribute

In [ ]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

### Replace non standard missing value with NaN

In [ ]:
df.replace(['?','NA',''],np.nan,inplace=True)

In [ ]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

#**Handle missing values**

### using mean

In [ ]:
numeric_columns = df.select_dtypes(include=[np.number])
numeric_columns.head()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
0,10026,0,0,1,1,5,4,0,62506,0,19,1960,22.0,4.60,5,0,0,1
1,10084,1,1,1,5,3,3,0,104437,1,27,2148,4.0,4.96,3,6,0,17
2,10196,1,1,0,5,5,3,0,64955,1,20,1810,20.0,3.02,3,0,0,3
3,10088,1,1,0,1,5,3,0,64991,0,19,1886,16.0,4.84,5,0,0,15
4,10069,0,2,0,5,5,3,0,50825,1,19,2169,39.0,5.00,4,0,0,2

In [ ]:
numeric_columns.isnull().sum()

EmpID                     0
MarriedID                 0
MaritalStatusID           0
GenderID                  0
EmpStatusID               0
DeptID                    0
PerfScoreID               0
FromDiversityJobFairID    0
Salary                    0
Termd                     0
PositionID                0
Zip                       0
ManagerID                 8
EngagementSurvey          0
EmpSatisfaction           0
SpecialProjectsCount      0
DaysLateLast30            0
Absences                  0
dtype: int64

In [ ]:
df['ManagerID']=df['ManagerID'].fillna(df['ManagerID'].mean())

#**using median**

### re-load the dataset to null valuess

In [ ]:
df['ManagerID']=df['ManagerID'].fillna(df['ManagerID'].median())

In [ ]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       0
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

#**Removal of rows**

In [ ]:
df.dropna(subset=['ManagerID'],axis=0,inplace=True)

In [ ]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             199
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       0
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

# **Apply Binning (discretize continuous value ) to salary attribute**

## **Bin by mean**

In [ ]:
salary=df['Salary']
#bin_means=pd.cut(salary,bins=3,labels=False)
bin_means=pd.cut(salary,bins=3,labels=False)

In [ ]:
bin_means

0      0
1      0
2      0
3      0
4      0
      ..
306    0
307    0
308    2
309    0
310    0
Name: Salary, Length: 303, dtype: int64

In [ ]:
df['salary_bin_means']=salary.groupby(bin_means).transform('mean')
df['salary_bin_means'].head()

0    65212.848276
1    65212.848276
2    65212.848276
3    65212.848276
4    65212.848276
Name: salary_bin_means, dtype: float64

In [ ]:
df['salary_bin_means'].unique()

array([ 65212.84827586, 146672.36363636, 235225.        ])

## **Bin by boundaries**

In [ ]:
df['Salary'].min()

45046

In [ ]:
df['Salary'].max()

250000

In [ ]:
boundaries=[0,60000,120000,180000,np.inf]
bin_label=['Low','Medium','High','Very High']
df['salary_bin_boundary']=pd.cut(salary,bins=boundaries,labels=bin_label)

In [ ]:
df[['Salary', 'salary_bin_means', 'salary_bin_boundary']].head()

   Salary  salary_bin_means salary_bin_boundary
0   62506      65212.848276              Medium
1  104437      65212.848276              Medium
2   64955      65212.848276              Medium
3   64991      65212.848276              Medium
4   50825      65212.848276                 Low

# **Apply Data transformation on salary attribute**

## **Min-max normalization**

In [ ]:
min_salary=salary.min()
max_salary=salary.max()

In [ ]:
df['salary_MinMax']=(salary-min_salary)/(max_salary-min_salary)

In [ ]:
df[['Salary','salary_MinMax']].head()

   Salary  salary_MinMax
0   62506       0.085190
1  104437       0.289777
2   64955       0.097139
3   64991       0.097315
4   50825       0.028197

## **Z-score normalization**

In [ ]:
mean_salary=salary.mean()
std_salary=salary.std()

In [ ]:
df['salary_zScore']=(salary-mean_salary)/std_salary

In [ ]:
df[['Salary','salary_zScore']].head()

   Salary  salary_zScore
0   62506      -0.267114
1  104437       1.383317
2   64955      -0.170720
3   64991      -0.169303
4   50825      -0.726885

## **Decimal scaling**

In [ ]:
#ceil(log10(x)) will give number of digits of x
j = np.ceil(np.log10(salary.abs().max()))

In [ ]:
df['salary_decimal_scaling']=salary/10**j

In [ ]:
df[['Salary','salary_decimal_scaling']].head()

   Salary  salary_decimal_scaling
0   62506                0.062506
1  104437                0.104437
2   64955                0.064955
3   64991                0.064991
4   50825                0.050825

# **Convert following categorical attribute into numerical value**

### Convert the following nominal attributes to symmetric binary (one hot encoding)
o	Marital status,
o	Department,
o	RaceDesc
o	 Recruitment Source

In [ ]:
nominal_cols = ['MaritalDesc', 'Department', 'RaceDesc', 'RecruitmentSource']
df_nominal_encoded = pd.get_dummies(df[nominal_cols],dtype=int)

In [ ]:
df_nominal_encoded.head()

,MaritalDesc_Divorced,MaritalDesc_Married,MaritalDesc_Separated,MaritalDesc_Single,MaritalDesc_Widowed,Department_Admin Offices,Department_Executive Office,Department_IT/IS,Department_Production,Department_Sales,...,RaceDesc_White,RecruitmentSource_CareerBuilder,RecruitmentSource_Diversity Job Fair,RecruitmentSource_Employee Referral,RecruitmentSource_Google Search,RecruitmentSource_Indeed,RecruitmentSource_LinkedIn,RecruitmentSource_On-line Web application,RecruitmentSource_Other,RecruitmentSource_Website
0,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0

### Convert the following ordinal attributes to z-score
o	Performance
o	EmploymentStatus
o	Position

In [ ]:
df['PerformanceScore'].unique()

array(['Exceeds', 'Fully Meets', 'Needs Improvement', 'PIP'], dtype=object)

In [ ]:
performance_mapping={'PIP':1,'Needs Improvement':2,'Fully Meets':3,'Exceeds':4}

In [ ]:
df['performance_mapped']=df['PerformanceScore'].map(performance_mapping)

In [ ]:
df[['PerformanceScore','performance_mapped']].head(10)

  PerformanceScore  performance_mapped
0          Exceeds                   4
1      Fully Meets                   3
2      Fully Meets                   3
3      Fully Meets                   3
4      Fully Meets                   3
5          Exceeds                   4
6      Fully Meets                   3
7      Fully Meets                   3
8      Fully Meets                   3
9      Fully Meets                   3

In [ ]:
df['EmploymentStatus'].unique()

array(['Active', 'Voluntarily Terminated', 'Terminated for Cause'],
      dtype=object)

In [ ]:
EmploymentStatus_mapping={'Terminated for Cause':1,'Voluntarily Terminated':2,'Active':3}
df['employmentStatus_mapped']=df['EmploymentStatus'].map(EmploymentStatus_mapping)

In [ ]:
df[['EmploymentStatus','employmentStatus_mapped']].head(10)

         EmploymentStatus  employmentStatus_mapped
0                  Active                        3
1  Voluntarily Terminated                        2
2  Voluntarily Terminated                        2
3                  Active                        3
4  Voluntarily Terminated                        2
5                  Active                        3
6                  Active                        3
7                  Active                        3
8                  Active                        3
9                  Active                        3

In [ ]:
a=df['Position'].unique()

In [ ]:
#position_mapping={'CIO':1,'Data Analyst ':2,'IT Manager - DB':3,'Data Architect':4,'Principal Data Architect':5,'IT Manager - Infra':6,'Shared Services Manager':7,'Senior BI Developer':8,'President & CEO':9, 'Administrative Assistant':10,'Director of Sales':11,'IT Director':12,'Network Engineer':13,'IT Manager - Support':14,'BI Developer':15,'Sales Manager':16,'Sr. Network Engineer':17,'Director of Operations':18,'BI Director':19,'Software Engineering Manager':20,'Area Sales Manager':21, 'Accountant I':22,'Production Manager':23,'Sr. Accountant':24,'Enterprise Architect':25,'Database Administrator':26,'Data Analyst':27,'IT Support':28, 'Software Engineer':29,'Production Technician II':30,'Sr. DBA':31,'Production Technician I':32}

In [ ]:
j=1
position_mapping={}
for i in a:
  position_mapping[i]=j
  j+=1

In [ ]:
position_mapping

{'Production Technician I': 1,
 'Sr. DBA': 2,
 'Production Technician II': 3,
 'Software Engineer': 4,
 'IT Support': 5,
 'Data Analyst': 6,
 'Database Administrator': 7,
 'Enterprise Architect': 8,
 'Sr. Accountant': 9,
 'Production Manager': 10,
 'Accountant I': 11,
 'Area Sales Manager': 12,
 'Software Engineering Manager': 13,
 'BI Director': 14,
 'Director of Operations': 15,
 'Sr. Network Engineer': 16,
 'Sales Manager': 17,
 'BI Developer': 18,
 'IT Manager - Support': 19,
 'Network Engineer': 20,
 'IT Director': 21,
 'Director of Sales': 22,
 'Administrative Assistant': 23,
 'President & CEO': 24,
 'Senior BI Developer': 25,
 'Shared Services Manager': 26,
 'IT Manager - Infra': 27,
 'Principal Data Architect': 28,
 'Data Architect': 29,
 'IT Manager - DB': 30,
 'Data Analyst ': 31,
 'CIO': 32}

In [ ]:
df['position_mapped']=df['Position'].map(position_mapping)

In [ ]:
df[['Position','position_mapped']].head(10)

                   Position  position_mapped
0   Production Technician I                1
1                   Sr. DBA                2
2  Production Technician II                3
3   Production Technician I                1
4   Production Technician I                1
5   Production Technician I                1
6         Software Engineer                4
7   Production Technician I                1
8   Production Technician I                1
9                IT Support                5